h1 {
  padding: 10px;
}

h4 {
  line-height: 1.5;
}

.row {
padding: 10px;
border-width: 1px;
border-style: solid;
border-right-color: white;
border-left-color: white;
}

.container1 {
background-color: white;
position: relative;
width: 100%;
height: 75px;

.container3 {
  width: 100%;
  height: 200px;
}

.container4 {
  position: absolute;
  width: 100%;
  height: 200px;
}

.navbar {
  font-size: 30px;
}
