body {
  background-color: gray;
  background-image: url("../images/present1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 45px;
  }

header {
	font-weight: bold;
	color: red;
}

h1 {
	font-weight: bold;
}

 p {
 	color: black;
 }